@use "../../assets/styles/variables";

.Card {
  background-color: variables.$color-white;
  border-radius: variables.$radius-small;
  box-shadow: 0px 10px 20px rgba(variables.$color-primary, 0.25);
  border-left: 4px solid transparent;
  padding: variables.$spacing-medium;
}

.active {
  border-color: variables.$color-primary;
}