@import "./reset.scss";
@import "./variables.scss";

body {
  font-size: $text-base;
  font-family: $font-family-main;
  background-color: $color-gray-light;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}